.game {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
  justify-content: center;
}

.item {
  border: 1px solid black;
  display: grid;
  align-content: center;
  justify-content: center;
}